.gallery {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em 1em;

    h1 {
        grid-column: span 3;
        justify-self: center;
    }

    img {
        grid-column: span 1;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .gallery {
        width: 95%;
        margin: 0 2.5%;

        h1 {
            grid-column: span 2;
        }

        img {
            grid-column: span 1;
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .gallery {
        width: 100%;
        margin: 0;

        h1,
        img {
            grid-column: span 1;
            width: 100%;
        }
    }
}
