.reportpage {
    display: grid;
    gap: 0 3em;
    padding: 0 15%;
    grid-template-columns: 250px auto;
}

.reportpage h1 {
    grid-column: 2/2;
    justify-self: center;
}

.sidebar {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    min-height: 720px;
    max-height: 720px;
    background-image: url('bar2.jpg');
    opacity: 0.6;

    a {
        color: #000;
        font-size: 1.8rem;
        padding-bottom: 1em;
        padding-top: 0.5em;
        border-bottom: 2px solid #333;
    }

    a:hover {
        color: $primary-color;

    }
}

.kmom-text {
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: $primary-color;
    min-height: 700px;
}

.pre-next {
    display: none;
}

@media (max-width: 767px) {
    .reportpage {
        grid-column: 1/1;
        grid-template-columns: auto;
        padding: 0;
        justify-content: center;

        h1 {
            grid-column: 1/1;
            margin: 0;
        }

    }

    .kmom-text {
        grid-column: 1/1;
        margin: 1em;
        padding: 1 0.5em;
        text-align: left;

        p {
            padding: 0;
            text-align: left;
        }
    }

    .pre-next {
        font-size: 3em;
        display: flex;
        justify-content: center;

        a {
            color: #444;
            padding: 0 0.5em;
        }
        
        a:hover {
            color: #000;
        }
    }

    .sidebar {
        display: none;
    }
}
