.reportpage {
    display: grid;
    gap: 0 3.5em;
    padding: 0 17.5%;
    grid-template-columns: 250px auto;
}

.reportpage h1 {
    grid-column: 2/2;
    justify-self: center;
}

.sidebar {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    min-height: 800px;
    max-height: 800px;
    background-image: url('bar2.jpg');
    opacity: 0.7;

    a {
        color: $intense-color;
        font-size: 1.9rem;
        padding-bottom: 1em;
        padding-top: 0.7em;
        border-bottom: 2px solid $text-color;
    }

    a:hover {
        color: $primary-color;
    }
}

.kmom-text {
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: $primary-color;
    min-height: 700px;

    p {
        color: $text2-color;
    }
}

.pre-next {
    display: none;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .reportpage {
        grid-column: 1/1;
        grid-template-columns: auto;
        padding: 0;
        justify-content: center;

        h1 {
            grid-column: 1/1;
            margin: 0;
        }

    }

    .kmom-text {
        grid-column: 1/1;
        margin: 1em;
        padding: 1 0.5em;
        text-align: left;

        p {
            padding: 0;
            text-align: left;
        }
    }

    .pre-next {
        font-size: 3em;
        display: flex;
        justify-content: center;

        a {
            color: $text-color;
            padding: 0 0.5em;
        }

        a:hover {
            color: $intense-color;
        }
    }

    .sidebar {
        display: none;
    }
}
