.landingpage {
    display: grid;
    gap: 0.5em 2em;
    padding: 0 15%;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;

    h1 {
        grid-column: span 3;
        justify-self: center;
    }
}

.kmom-box {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $high-color;

    h2 {
        width: 100%;
        color: $text2-color;
        text-align: center;
        padding: 0.5em;
        background-color: $primary-color;
    }

    p {
        font-size: 1rem;
        margin: 0;
    }

    a {
        color: $intense-color;
        font-size: 2rem;

    }

    a:hover {
        color: $detail-color;
    }
}

.kmom-box.project {
    grid-column: span 3;
}

@media (max-width: 767px) {
    .landingpage {
        padding: 0;
        grid-template-columns: 100%;
    }

    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 1;
        margin-bottom: 0.5em;
    }
}
