@import 'typo';
@import 'variables-dark';
@import 'header';
@import 'old';
@import 'report';
@import 'kmom';
@import 'analysis';

* {
    font-family: $font-stack;
}

.header,
.sidebar {
    filter: brightness(90%);
    opacity: 90%;
}

.nav a {
    color: #444;
}

html,
body {
    height: 100%;
    background-color: $high-color;
}

body {
    font-size: $text-size;
    line-height: $line-height;
    color: $text-color;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-stack-text;
    margin-bottom: 0.6em;
    font-weight: bold;
    color: $intense-color;
}

p {
    font-size: 1.3rem;
    text-align: left;
}



.line {
    border: 2px solid $detail-color;
    width: 50%;
    text-align: left;
    margin-left: 0;
}


/*** BASIC LAYOUT: FOOTER ***/

.footer {
    background: $primary-color;
    color: $intense-color;

    a {
        color: $intense-color;
    }

    a:hover {
        color: $high-color;
    }

    p {
        margin: 0;
        padding: 3em 0;
        text-align: left;
    }

    .social {
        float: right;
        padding: 0.75em 3em 0.75em 2em;
        font-size: 3rem;
    }
}


@media (max-width: 767px) {
    h1 {
        text-align: center;
        margin: 0.5em;
    }

    p {
        padding: 0 1em;
    }

    .line {
        width: 100%;
    }

    .footer p {
        padding: 1em 0;
    }

    .footer .social {
        padding: 0.5em 1em 0.5em 1em;
    }
}
