@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import 'variables';
@import 'old';
@import 'report';
@import 'kmom';

* {
    font-family: $font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-stack-text;
}

p {
    font-size: $text-size;
    text-align: left;
}

.header {
    background-image: url('FLASH9.jpg');
}

.logo {
    height: 12em;
}


.nav {
    text-align: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        margin-left: 1em;
        padding: 0;
        font-weight: bold;
    }

    a,
    .nav-toggle {
        color: #333;
        font-size: 2em;
    }

    .active a,
    a:hover,
    .nav-toggle:hover {
        color: #fff;
    }

    a:hover,
    .nav-toggle:hover {
        color: $light-color;
        text-decoration: underline;
    }

    .nav-toggle {
        display: none;
    }
}

.line {
    width: 50%;
    text-align: left;
    margin-left: 0;
    color: #ccc;
}


/*** BASIC LAYOUT: FOOTER ***/

.footer {
    background: $primary-color;
    color: #000;

    a {
        color: #000;
    }

    a:hover {
        color: $light-color;
    }

    p {
        margin: 0;
        padding: 3em 0;
        text-align: left;
    }

    .social {
        float: right;
        padding: 0.5em 0 0.5em 1em;
        font-size: 3rem;
    }
}


@media (max-width: 767px) {
    header {
        text-align: center;
    }

    h1 {
        text-align: center;
        margin: 0.5em;
    }

    p {
        padding: 0 1em;
    }

    .line {
        width: 100%;
    }

    .nav {
        clear: both;
        padding: 0;
    }

    .nav ul {
        padding-bottom: 1em;
    }

    .nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .js .nav-toggle>* {
        vertical-align: middle;
    }

    .footer p {
        padding: 1em 0;
    }

    .footer .social {
        padding: 0.5em 0 0.5em 1em;
    }
}
