$font-stack: 'Roboto', sans-serif;
$font-stack-text: 'Open Sans', sans-serif;
$text-size: 1.3em;
$line-height: 1.45;
$base-line: 1.45  * 1.3rem;
$spacing: 1px;


$primary-color: #e2cfe2;
$light-color: #eee;
