$font-stack: 'Roboto', sans-serif;
$font-stack-text: 'Open Sans', sans-serif;
$text-size: 1rem;
$line-height: 1.6;
$base-line: 1.45  * 1.3rem;
$spacing: 1px;

// $font-color:
// $background-color:
$primary-color: #d8bfd8;
$high-color: #f3ebf3;
$text-color: #444;
$text2-color: #333;
$intense-color: #000;
$detail-color: #df81df;
